/* .product-card {
  align-items: center;
  box-shadow: 0 0 1em rgb(220, 220, 220);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  width: 200px;
}

.product-card img {
  margin-bottom: 10px;
  width: 150px;
}

.product-card h4 {
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;
} */
